@media print {
    #join-today, .social-meta, header, #subsidiary, #subnav-magazine,
	#rslideswrapper .rslides_nav, .rslides_tabs
        {display:none !important;}
    body, footer, #primary.magazine h3, footer h4, .rslides .caption
        {color:black;}
    a, a:link, a:hover, a:active, a:visited 
        {color:#336699 !important;}
    footer
        {background:white;padding-top:0;}
    footer h4, #who-we-are p.highlight
        {font-size:1.25em;}
    div.article-meta 
        {border-bottom: none;}
    #main>div
        {border-bottom: 1px solid #ccc;}
    .rslides>li {
        display: block !important;
        float: left !important;
        top: auto !important;
        position: inherit !important;
        opacity: 1 !important;
        margin-bottom: 1.5em;
        margin-right: 1%;
        max-width:32%;
    }
    .rslides>li .caption {
        display:inline-block !important;
        font-size:0.75em;
        line-height:1.5em;
        height:3.5em !important;
        max-height:3.5em !important;
        min-height:3.5em !important;
        padding:0.5em 0 0;
    }
}
