/* ========================================================================= */
/* reset CSS */
/* ------------------------------------------------------------------------- */
*{margin:0;padding:0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-size:100%;font-family:inherit;}
a img{border:none;}
a{outline:none;}
textarea, input, select {outline: none;}
